<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/LoginFont/css/font-awesome.css" rel="stylesheet" />
    <link href="~/LoginFont/css/style.css" rel="stylesheet" />
    <script src="~/LoginFont/js/jquery-2.1.4.min.js"></script>
    <script src="~/LoginFont/js/particles.min.js"></script>>
    <a href="~/LoginFont/fonts/fontawesome-webfont.eot"></a>
    <a href="~/LoginFont/fonts/fontawesome-webfont.ttf"></a>
    <a href="~/LoginFont/fonts/fontawesome-webfont.woff"></a>
    <a href="~/LoginFont/fonts/glyphicons-halflings-regular.woff"></a>
    <a href="~/LoginFont/fonts/glyphicons-halflings-regular.woff2"></a>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
